.navbarjsx{
    background-color: #080808;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
}

.logoBateria{
    border-radius: 10px;
    width: 90px;
    margin: 5px 0 5px 0;
}

.navbarCentro{
    margin: 0 20vw 0 20vw;
    gap: 10px;
    color: white;
}

.navbarCentro button{
    color: white;
    background-color: #3085d6;
    border-radius: 5px;
    margin: 5px;
}

.navbarCentro button:hover {
    background-color: #1e6bbd; 
}

body {
    background-image: url('/public/Fondos-para-paginas-web.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;

        position: relative;
    min-height: 100vh;
    

    
        
        margin: 0 auto; /* Centra el contenedor en la página */
        
    
}